

    {{#get "posts" limit='5'}}
       {{#foreach posts}}
           <li>
               <a style="color: #ffffff;; font-size:14px" href="{{url}}">{{title}}</a>
           </li>
           <em class="sd-em">{{date format="MMMM Do, YYYY"}}</em>
       {{/foreach}}
    {{/get}}


